@import "../vendor/flat-ui/less/variables";

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: @clouds;
}

div h3 {
  margin-top: 5px;
}

.new-chat {
  color: white;
  background-color: @wet-asphalt;
  padding: 40px;
  box-shadow: 0 0 5px @gray;

  .popover-title, .popover-content {
    color: @wet-asphalt;
  }
}

.form-control[disabled] {
  color: @wet-asphalt;
}