@import "../vendor/flat-ui/less/variables";

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: @inverse;
}

a, a:visited {
  color: @carrot;
}

div h3 {
  margin-top: 5px;
}

.new-chat {
  h3 {
    height: 45px;
  }
  color: white;
  margin-top: -40px;

  .popover-title, .popover-content {
    color: @wet-asphalt;
  }

  .form-group label {
    font-weight: bold;
    font-size: 16px;
  }

  padding: 30px;
  border-radius: 10px;
  background: rgba(52, 73, 94, 0.9);
  box-shadow: 1px 1px 10px #333;
}

.form-control[disabled] {
  color: @wet-asphalt;
}

#jumbotron {
  background: none;

  p, label, h3 {
    color: white;
    text-shadow: 1px 1px 5px #000;
  }

  .popover, .popover-title {
    color: black;
    text-shadow: none;
  }

  .popover-link {
  }

  .form-control, .bootstrap-tagsinput {
    box-shadow: 1px 1px 3px #000;
  }
}

#jumbotron-background-image {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -9999;
  top: 45px;

  display: block;
  -webkit-filter: blur(6px);
  -moz-filter: blur(6px);
  -o-filter: blur(6px);
  -ms-filter: blur(6px);
  filter: blur(6px);
  background-image: url('../images/jumbotron.jpg');
  background-position: center top;
  background-size: 2000px auto;
  height: 600px;
}

#copy-button {
  cursor: pointer;
  background: @carrot;
  border-color: @carrot;
  min-width: 100px;
}

.logo {
  max-height: 100%;
  max-width: 100%;
  display: inline;
  float: left;
  margin-right: 10px;
}

#chatroom {
  overflow-y: scroll;
  height: 100%;
  margin-top: -83px;
  padding: 20px;
  padding-top: 83px;
}

#chat-log {
  width: 300px;
  height: 100%;
  font-size: 13px;
  position: fixed;
  top: 53px;
  right: 0;
  overflow-y: scroll;
  word-wrap: break-word;
  border: 1px solid #999;
  border-top: none;
  background-color: white;
  padding: 10px;
}


#chat-text {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 100px;
  width: 300px;
  font-size: 14px;
  border: 1px solid @wet-asphalt;
  border-top: 5px solid @wet-asphalt;
  border-bottom: none;
  z-index: 2;

  &:focus {
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}

#chat-video {
  display: none;
  position: fixed;
  left: 0px;
  width: 200px;
  video {
    width: 200px;
    margin: 0 20px 20px 0;
  }
}

#username, #password {
  &:focus {
    border-color: @carrot;
  }
}

.modal-header {
  background-color: @wet-asphalt;
  color: white;
}

.chat-text {
  &.old {
    color: #777;
  }
  &:first-child {
    border-top: 1px solid #ddd;
  }
  border-bottom: 1px solid #ddd;
}

.bootstrap-tagsinput {
  -webkit-transition: border-color .5s;
  -moz-transition: border-color .5s;
  -ms-transition: border-color .5s;
  -o-transition: border-color .5s;
  transition: border-color .5s;
}

#chat-options {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100px;
  width: 100%;
  background-color: @wet-asphalt;
  z-index: 1;
  padding: 20px;

  .chat-option {
    max-height: 100%;
    float: left;
    width: 100px;
    color: white;
    font-size: 12px;
    text-align: center;

    label {
      position: absolute;
      bottom: -px;
      display: block;
      width: 100px;
      font-size: 12px;
      text-align: center;
    }

    img {
      cursor: pointer;
      margin: 0 auto;
      height: 50px;
    }
  }
}

.chat-workspace {
  font-family: Consolas, Monaco, "Courier New", monospace;
  font-size: 14px;
}

#homepage-info {
  margin: 80px auto;
  padding-bottom: 30px;
}

.homepage-info {
  position: relative;
  text-align: center;
  padding: 20px;
  margin-left: 6.25%;
  margin-bottom: 20px;
  background: rgba(52, 73, 94, 0.9);
  color: white;
  min-height: 300px;
  border-radius: 5px;
  font-size: 14px;

  h3 {
    font-size: 24px;
  }

  .homepage-icon {
    margin: 0 auto 20px;
    display: block;
  }

  .homepage-description {
    margin: 0 auto;
  }
}

footer {
  margin-top: 40px;
  background-color: @clouds;
  width: 100%;
  padding: 20px;

  h2 {
    margin: 0;
  }

  .github-image {
    float: left;
    margin-right: 10px;
  }
}

.sweet-alert {
  h2 {
    font-size: 30px;
  }

  .lead {
    font-size: 19px;
  }
}

.checkbox {
  padding-left: 0;

  input[type="checkbox"] {
    margin-top: 11px;
  }
}